<p>Hi <%= @user.firstname %>,</p>
<p>To change your password please visit <%= @link %></p>
<p>For security reasons this link is only valid for 15 minutes.</p>
<p>Please change your password to something you will remember.</p>
<p>If you have any further issues, please reply to this email and we’ll do our best to assist you.</p>
<p>Thanks and have a great day.</p>