<h1>gday</h1>
<p>Hi there <%= @user.firstname %> and welcome! </p>
<p>
  You have successfully signed up and your username is: <%= @user.username %>.
</p>
<p>Thanks for joining and have a great day.</p>