<ul>
   <% if device_is_mobile? %>
<h5 class="mt-3">BUYING A PROPERTY</h5>
  <% else %>
<h3>BUYING A PROPERTY</h3>
  <% end %>
<p class="mt-md-4">
  <b>Step 1</b>
  <br>
  <p>Ensure your financing is in order with either available cash or a mortgage pre-approval.</p>
</p>  
<p class="mt-md-4">
  <b>Step 2
</b>
  <br>
  <p>Determine your requirements by making a list of must-haves and would-likes.</p>
</p>  
<p class="mt-md-4">
  <b>Step 3</b>
  <br>
  <p>Enter your requirements into the search engine to see if any properties match your requirements.</p>
</p>
<p class="mt-md-4">
  <b>Step 4</b>
  <br>
  <p>Save your search and wait for notifications as properties come up which match your requirements.</p>
</p>  
<p class="mt-md-4">
  <b>Step 5</b>
  <br>
  <p>If you see a property on the site that you are interested in, contact t('') to arrange an inspection that suits you and the Buyer. Be prepared to answer some questions to qualify you as a genuine Buyer.</p>
</p>  
<p class="mt-md-4">
  <b>Step 6</b>
  <br>
  <p>If you view the property and are interested, make an offer via Homblok's trusted advisors and enter into negotiations.</p>
</p>  
<p class="mt-md-4">
  <b>Step 7</b>
  <br>
  <p>If you reach an agreed price to buy, you can request a pest and building or strata report to be commissioned at your own cost for peace of mind.</p>
</p>  
<p class="mt-md-4">
  <b>Step 8</b>
  <br>
  <p>Request for a contract of the property to be reviewed by your solicitor or conveyancer and come to agreement on terms with the Seller.</p>
</p>  
<p class="mt-md-4">
  <b>Step 9</b>
  <br>
  <p>Arrange for exchange of contracts with the Seller by providing a 10% deposit and a s66W waiver of cooling off period.</p>
</p>  
<p class="mt-md-4">
  <b>Step 10</b>
  <br>
  <p>Arrange for a pre-settlement inspection of the property just prior to scheduled settlement.</p>
</p>  
<p class="mt-md-4">
  <b>Step 11</b>
  <br>
  <p>Arrange for settlement of remaining funds and pick up the keys to your new property.</p>
</p>
</ul>
<div class="desktop-break"></div>
<div class="mobile-break"></div>