<ul>
 <% if device_is_mobile? %>
 <h5 class="mt-3">SELLING YOUR PROPERTY</h5>
 <% else %>
 <h3>SELLING YOUR PROPERTY</h3>
 <% end %>
 <p class="mt-md-4"><b>Step 1 </b><br></p><p class="mt-md-3">Engage a solicitor or conveyancer to prepare a contract of sale for your home.</p>
 <p class="mt-md-4"><b>Step 2 </b><br></p><p class="mt-md-3"> Declutter, fix, beautify, style and thoroughly clean your home and garden so that it presents well to prospective buyers.</p>
 <p class="mt-md-4"><b>Step 3 </b><br></p><p class="mt-md-3"> Do some local research and decide on the price you wish to sell for.</p>
 <p class="mt-md-4"><b>Step 4 </b><br></p><p class="mt-md-3"> Prepare or order a floorplan for your property.</p>
 <p class="mt-md-4"><b>Step 5 </b><br></p><p class="mt-md-3"> Take yourself or arrange a photographer to take 5-10 photos of the house and any outdoor spaces.</p>
 <p class="mt-md-4"><b>Step 6 </b><br></p><p class="mt-md-3"> Write a description of your property. Get someone impartial to look at it from a prospective buyers viewpoint.</p>
 <p class="mt-md-4"><b>Step 7 </b><br></p><p class="mt-md-3"> List your property on <b>Homblok</b> by adding the photos, floorplan, description and price.</p>
 <p class="mt-md-4"><b>Step 8 </b><br></p><p class="mt-md-3"> Get pricing and general feedback from prospective buyers and adjust your asking price as necessary to make it attractive to sell.</p>
 <p class="mt-md-4"><b>Step 9 </b><br></p><p class="mt-md-3"> Wait for <b>Homblok</b> to make contact about interest in viewing your property. If this isn’t happening in your ideal timeframe, review your pricing strategy and adjust as needed.</p>
 <p class="mt-md-4"><b>Step 10</b><br></p><p class="mt-md-3">  Make your home presentable and available for private inspections from buyers.</p>
 <p class="mt-md-4"><b>Step 11</b><br></p><p class="mt-md-3">  Wait for an offer to be made for your property. Enter negotiations until both parties agree on a suitable price and terms.</p>
 <p class="mt-md-4"><b>Step 12</b><br></p><p class="mt-md-3">  Accept and exchange contracts with the buyer and pay your $5,000 success fee invoice to Homblok.</p>
 <p class="mt-md-4"><b>Step 13</b><br></p><p class="mt-md-3">  Instruct a solicitor or conveyancer to complete the sale.</p>
 <p class="mt-md-4"><b>Step 14</b><br></p><p class="mt-md-3">  Allow the buyer to do a pre-settlement inspection if they request it.</p>
 <p class="mt-md-4"><b>Step 15</b><br></p><p class="mt-md-3">  Finalise the settlement and hand over the keys.</p>
 <p class="mt-md-4"><b></b></p>
</ul>
<div class="mobile-break"></div>
<div class="desktop-break"></div>