.row
  .column.col-md-2
  .col-md-8
    %h2.text-center.ml-md-4.mt-md-5
      = image_tag "dark_icons/icons8-about-50.png", class: "title-icons ml-md-2 mr-md-1 mb-md-1"
      ABOUT HOMBLOK
  #aboutus.column.col-md-2
.row
  .column.col-md-2
  .col-md-8
    %ul
      %h3.mt-md-4 ABOUT US
      %h4 The Team
      %li
        %p
          Homblok&#x2019;s Principal and Founder is
          %a#link5{href: "mailto:leena@homblok.com"} Leena Gupta
          , a qualified Real Estate Agent with her Real Estate Licence and experience in both Buying and Selling property.
      %li
        %p Highly professional, she has a prior extensive background and experience in banking and finance as well as executive search, giving her the attention to detail and communication skills needed across a depth of industries.
      %li
        %p Homblok consists of a team of qualified professionals who are trained in real estate, understand the market and want to give people more choices and control over their property transactions.
    %ul
      %h4 The Proposition
      %li
        %p An option to showcase your property initially with no commitment or fees.
      %li
        %p A choice to find more stock as a prospective buyer.
      %li
        %p If you become serious to buy or sell, you get the assistance of a qualified negotiator who ensures both sides are treated fairly, and an optimal outcome is achieved at a minimum price.
    %ul
      %h4 The Background
      %li
        %p#theconcept In her roles as Sales Agent and Buyers Agent, Leena has established many relationships with Real Estate Agents which has given her extensive insight into the needs of the market and how to fill the gap in it.
      %li
        %p Homblok sets out to help people achieve a seamless transaction in one of the biggest decisions they make in their life.
  .column.col-md-2
.row
  .column.col-md-2
  .col-md-8
    %ul.mt-md-3
      %h3 THE CONCEPT
      %h4 Built for Buyers, Seamless for Sellers
      %li
        %p The online Real Estate space in Australia is dominated by realestate.com and domain.com, both charging thousands of dollars for people to showcase their home.
      %li
        %p When someone starts thinking about selling, they need an online platform where they can showcase their property with no commitment or upfront marketing fees.
      %li
        %p When a future Buyer cannot find stock, they need a platform to post their requirements.
      %li
        %p The current market gives people little choice but to sign up exclusively with a Real Estate Agent, pay upfront marketing fees for online advertising, print marketing, signboards, brochures and other marketing tools deemed necessary by agents.
      %li
        %p The process of selling your house as a vendor with an agent is highly stressful and invasive.
      %li
        %p Many Open House visitors are simply window shopping and viewing for pleasure, as opposed to actual qualified Buyers.
      %li
        %p Agents fees charged are not always commensurate with the price achieved for the Seller or the work and effort they put into selling.
      %li
        %p Homblok has come about due to a demand in the market for Sellers to showcase and sell their properties without any upfront marketing fees required.
      %li
        %p There is also a need for Sellers to be able to avoid the high commissions charged by Real Estate Agents if they do achieve a sale. Charging commission as a percentage of the sale price is a dated concept which inflates the commission unnecessarily.
    %ul
      %br
        %h4 The Solution: An Online Platform to Showcase Property
        %li
          %p Homblok is an online platform to encourage anyone to post their property for feedback from the public.
        %li
          %p It&#x2019;s about showcasing your property to others for some initial comments and pricing feedback.
        %li
          %p Conversely, Buyers may not be able to find what they&#x2019;re looking for and wish to post their requirements, allowing a possible Seller to come forward and creating stock for the market.
        %li
          %p If you are not in a hurry to sell your property and you wish to test the market, are not on a strict deadline and have plans to sell in the future, then Homblok is a good option to start with.
        %li
          %p If the Buyer and Seller come together to find a match, then a property sale can take place with negotiation and settlement overseen by a qualified Real Estate Agent to ensure a fair outcome.
        %li
          %p Sellers will be relieved with the absence of publicity, stress of Open Houses and general tension created by a home sale campaign.
        %li
          %p#themechanics A Seller can achieve a home sale completely privately and anonymously without any neighbours, friends and family knowing about it.
  .column.col-md-2
.row
  .column.col-md-2
  .col-md-8
    %ul.mt-md-3
      %h3 THE MECHANICS
      %h4 How it works for future Sellers
      %li
        %p You may be thinking about selling in the future and want some feedback on your home or the price you wish to achieve.
      %li
        %p You may have undertaken a recent renovation or styled your property and want some feedback on it.
      %li
        %p Future Sellers can post a price they wish to achieve, and future Buyers can comment and post the price they believe it&#x2019;s worth.
      %li
        %p If a Seller and Buyer wish to communicate further to discuss a future prospective sales plan, they make contact with Homblok, and a qualified Real Estate Agent becomes involved to negotiate the sale through to exchange and settlement.
      %li
        %p Sellers are encouraged to register under a pseudonym as their Username to protect their anonymity and privacy.
      %br
        %h4 How it works for future Buyers
        %li
          %p If a Buyer cannot find results in their Search on Homblok, they are encouraged to contact Homblok with their requirements and Homblok will use this data to encourage Sellers to post their property if they fit the criteria.
        %li
          %p Similarly, a qualified Real Estate Agent becomes involved as soon as there is a possible negotiation involved.
        %li
          %p The aim is to make it a level playing field for Buyers and Sellers and achieve a fair outcome for both.
        %li
          %p Bringing out Sellers to respond to a Buyer means an increase in stock for Buyers to choose from.
        %br
          %h4 &#x201C;Free&#x201D; to post and search
          %li
            %p There are no hidden fees or charges to post your property, give feedback on other properties or post your requirements.
          %li
            %p If a negotiation comes into play, both Seller and Buyer must agree to the Terms and Conditions of the site. The Seller agrees to pay a fee for service which is payable upon exchange of property contracts of the property, once there has been a successful sale.
          %li
            %p
              Buyers and Sellers can enjoy posting and commenting without fees and charges involved.
          %li
            %p
              The only fees payable are a fixed fee for actual service and success by the Seller in selling their property, which is a fraction of a normal commission charged by a Real Estate Agent.
          %li
            %p The parties still have access to a qualified Real Estate Agent, and peace of mind that a professional is dealing with the process.
          %li
            %p Buyers know it takes time to find the right property and this gives them a platform to seek out stock, especially in the current low-stock environment in the market.
          %li
            %p It&#x2019;s a win-win for both parties if a sale takes place.
          %li
            %p The Seller saves thousands of dollars in marketing costs and commissions.
  .column.col-md-2
.row
  .column.col-md-2