<div class="row small-screen">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center ml-md-4 mt-md-5"><%= image_tag get_aws_url("white_icons/icons8-about-50.png"), class: "title-icons ml-md-2 mr-md-1 mb-md-1" %>ABOUT US</h2>
    <ul>
      <h4>
        <p>THE MECHANICS</p>
      </h4>
      <h4>
        <p>Purpose</p>
      </h4>
      <p>The purpose of Homblok is to match up active Buyers and Sellers. Buying & Selling can be done privately and anonymously, all without the expense and hassle of a Sales Agent or a Sales campaign.</p>
    </ul>
    <ul>
      <h4>Sellers</h4>
      <li>
        <p><b>Open to Feedback:</b> A potential Seller may want some feedback on the presentation of their home or the price.</p>
      </li>
      <li>
        <p><b>Price Transparency:</b> Sellers can request feedback and post a price they wish to achieve, and Buyers can comment and post the price they believe it’s worth.</p>
      </li>
      <li>
        <p><b>Expectation Adjustment:</b> This is an opportunity to get feedback on your property and use this to improve the presentation and adjust your pricing expectations accordingly.</p>
      </li>
      <li>
        <p><b>Outcome focused:</b> If a Seller and Buyer wish to communicate further to discuss a future prospective sales plan, they make contact with Homblok, an inspection is lined up, and a Homblok representative negotiates the sale through to exchange and settlement to ensure a fair outcome for both parties.</p>
      </li>
      <li>
        <p><b>Privacy First Focus:</b> Sellers are encouraged to register under a pseudonym as their Username to protect their anonymity and privacy. Their precise address is also protected, with only the street name and suburb visible to Buyers.</p>
      </li>
    </ul>
    <ul>
      <h4>Buyers</h4>
      <li>
        <p><b>Targeted Search:</b>Buyers can search Homblok to see if there are any listings meeting their requirements and make contact with Homblok should they wish to view or offer on a property.</p>
      </li>
      <li>
        <p><b>Bespoke Search:</b> If a Buyer does a Search with no results on Homblok, they are encouraged to contact Homblok with their requirements and Homblok will use this data to encourage Sellers to post their property according to this criteria.</p>
      </li>
      <li>
        <p><b>Action Orientated:</b> To protect all parties, a Homblok representative becomes involved as soon as there is an inspection and negotiation involved.</p>
      </li>
      <li>
        <p><b>Fair Outcome: </b>The site makes it a level playing field for Buyers and Sellers to achieve a fair outcome.</p>
      </li>
      <li>
        <p><b>Increased Stock:</b> Prompting Sellers to respond to Buyer requirements leads to an increase in stock.</p>
      </li>
    </ul>
    <ul>
      <h4>No charges to post and search</h4>
      <li>
        <p>There are no fees or charges to post your property, give feedback on other properties or post your requirements, for either Buyers or Sellers.</p>
      </li>
      <li>
        <p>If a negotiation comes into play, both Seller and Buyer must agree to the Terms and Conditions of the site. The Seller agrees to pay a fee for service which is payable upon exchange of property contracts.</p>
      </li>
      <li>
        <p>A fixed fee becomes payable by the Seller when selling their property, which is a fraction of a normal commission charged by a Real Estate Agent.</p>
      </li>
      <li>
        <p>The parties have access to a Homblok representative, and peace of mind that a professional is dealing with the process.</p>
      </li>
      <li>
        <p>Buyers have access to a platform to seek out stock, especially in the current low-stock environment in the market.</p>
      </li>
      <li>
        <p>The Seller saves thousands of dollars in marketing costs and commissions.</p>
      </li>
    </ul>
    <ul>
      <h4>THE CONCEPT</h4>
      <h4>Built for Buyers, Seamless for Sellers</h4>
      <li>
        <p>The online real estate space in Australia is dominated by two main real estate platforms, both charging thousands of dollars for people to showcase their home.</p>
        <li>
          <p>When a future Seller starts thinking about selling, they need an online platform where they can gain feedback and showcase their property with no commitment or upfront marketing costs.</p>
        </li>
        <li>
          <p>When a future Buyer is looking to purchase, they need open access to stock and a platform to post their requirements.</p>
        </li>
        <li>
          <p>The current market gives people little choice but to sign up exclusively with a Real Estate Agent, pay upfront marketing fees for online advertising, print marketing, signboards, brochures and other marketing tools used by Sales Agents.</p>
        </li>
        <li>
          <p>The process of preparing your home for Open House during a Sales Campaign is stressful.</p>
        </li>
        <li>
          <p>Agent fees charged are not always commensurate with the price achieved for the Seller or the effort involved.</p>
        </li>
        <li>
          <p>Homblok allows Sellers to showcase and advertise their property without paying upfront marketing fees and avoid paying high commissions on the sale of their property.</p>
        </li>
      </ul>
      <ul>
        <h4>The Solution</h4>
        <li>
          <p>Homblok sets out to help people achieve a seamless transaction in one of the biggest decisions they make in their life.</p>
        </li>
        <li>
          <p>Homblok encourages potential Sellers to post their property and gain initial comments and pricing feedback from the public.</p>
        </li>
        <li>
          <p>Conversely, Buyers struggling to find a property can post their requirements, allowing a possible Seller to come forward and show them their property.</p>
        </li>
        <li>
          <p>If the Buyer and Seller come together to find a match, then a property sale can take place with negotiation and settlement overseen by a Homblok representative to ensure a fair outcome.</p>
        </li>
        <li>
          <p>Sellers can be spared the publicity and stress of a traditional home sale campaign by selling privately and anonymously.</p>
        </li>
      </ul>
      <ul>
        <h4>The Team</h4>
        <li>
          <p>Homblok’s founders are qualified and Licensed Real Estate Agents with extensive experience in both Buying and Selling property.</p>
        </li>
        <li>
          <p>Homblok consists of a team of qualified professionals who are trained in real estate, understand the market and want to give people more choices and control over their property transactions. They are also skilled negotiators who intend to ensure a fair result for both sides.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="desktop-break"></div>
  <div class="mobile-break"></div>