<div class="row">
  <div class="column col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center ml-md-4 mt-md-5"><%= image_tag get_aws_url("white_icons/icons8-privacy-50.png"), class: "title-icons ml-md-2 mr-md-1 mb-md-1" %>PRIVACY POLICY</h2>
    <ul class="mt-md-4">
      <p>Homblok recognises the importance of protecting the privacy of information collected about our customers. This privacy policy outlines the type of information that is collected by us on this website, and how we use and protect it.</p>
      <p>We believe that our Privacy Policy complies with the requirements of the Privacy Act 1988. By using our website, you agree with the terms of our current privacy policy as posted in this area of site. If you do not agree with any term in this policy, please do not use the site.</p>
      <h4>Collection of private information</h4>
      <p>As used in this privacy policy, ‘Personal Information’ means personally identifiable information such as your name, street address, email address, telephone number and financial information. We collect this personal information in order to provide our services to you. When you provide us with Personal Information, you are authorising us to use that information in accordance with the terms of this privacy policy.</p>
      <p>We usually collect personal information directly from you although sometimes we may use agents or service providers to do this for us. We do not collect personal information about you if you only browse this website.</p>
      <p>
        When you load photos of your property on our website, you give us explicit permission to use these photos in our marketing & for the use of our carousel on our home page. All photos loaded become the property of Homblok, & you waive your rights to privacy in relation to these photos.
      </p>
      <h4>Security of information</h4>
      <p>We take reasonable precautions to keep your personal information secure. We understand that you may be concerned about the confidentiality and security of the personal information we collect from you online. Accordingly, we have systems in place to ensure our online dealings with you are as secure and confidential as your dealings with us in person, or on the telephone. We use a variety of security measures including firewalls and secure databases to keep personal information secure from misuse, loss or unauthorised use or disclosure.</p>
      <h4>Changes in our policy</h4>
      <p>Homblok reserves the right to change or remove this privacy policy at our discretion. If we decide to change our privacy policy, we will post those changes here.</p>
      <h4>Who to Contact</h4>
      <p>Please contact Homblok by our <%= link_to "Contact Us Form", contact_path, class: "link6"%> if you require any further information.</p>
    </ul>
    <div class="mobile-break"></div>
  </div>
  <div class="column col-md-2"></div>
</div>
</div>