<div class="row small-screen">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center ml-md-4 mt-md-5"><%= image_tag get_aws_url("white_icons/icons8-user-manual-50.png"), class: "title-icons ml-md-2 mr-md-1 mb-md-1" %>STEP BY STEP GUIDE</h2>
    <h1 class="text-center mt-md-5"></h2>
    <div class="container-fluid g-0">
      <div class="mx-auto list-group my-md-4 list-group-horizontal-sm" id="list-tab" role="tablist">
        <a class="col-md-6 list-group-item list-group-item-action list-home-list active text-center" data-toggle="list" href="#list-home" role="tab" aria-controls="home">BUYING A PROPERTY</a>
        <a class="col-md-6 list-group-item list-group-item-action list-home-list text-center" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">SELLING YOUR PROPERTY</a>
      </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active mb-md-5" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><%= render "buying_guide" %></div>
      <div class="tab-pane fade mb-md-5" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><%= render "selling_guide" %></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
</div>