<div class="row">
  <div class="column col-md-4" id="contact-column"></div>
  <div class="col-md-4 mt-md-5">
    <h1 class="text-center mt-md-5 mb-md-3">FORGOT PASSWORD?</h1>
    <p class="text-center">We will send you a new one.</p>
    <%= form_with url: send_token_email_path, local:true, class:"form-group" do |f| %>
      <%= f.text_field :email, placeholder: "Your email address", class: "form-control mb-md-3" %>
      <%= f.submit "Reset My Password", id: "contact-us-send", class:"btn btn-outline-primary col-md-12"  %>
    <% end %>
  </div>
  <div class="column col-md-4"></div>
</div>
<div class="col-md-5 white mt-md-5"></div>