<div class="row">
  <div class="column col-md-2" id="contact-column"></div>
  <div class="col-md-8 mt-md-5">
    <h3 class="text-center mt-md-5 mb-md-3">NOTICE</h3>
    <p class="text-center"><%= @message %><b> <%= @email %></b>.</p>
    <div class="row mt-md-3 mb-md-5">
      <div class="mx-auto mb-md-5">
        <%= link_to "Home", root_path, class:"btn btn-outline-primary"  %>
      </div>        
    </div>
  </div>
  <div class="column col-md-2"></div>
</div>