<!-- app/views/admin/tags/edit.html.erb -->
<div class="container mt-3 m-auto">
  <h1>Edit Tag</h1>
  <%= link_to 'Back', admin_tags_path %>
  <%= render 'form', tag: @tag %>
  <p><%= @apartments&.size.to_i %>  properties assigned</p>
  <%= link_to "Assign Properties", apartments_path %>
</div>