<div class="container g-0 my-3 p-3 bg-white shadow-sm rounded p-3">
  <h3><%= @tag.name %></h3>
  <% if @child_tags.any? || @tag.apartments.any? %>
    <% # Collect apartments from the parent tag and child tags %>
    <% all_apartments = @tag.apartments + @child_tags.flat_map(&:apartments) %>
    <% # Ensure uniqueness if necessary %>
    <% unique_apartments = all_apartments.uniq %>
    <% # Render apartments %>
    <%= render partial: "apartments/show_apartment", locals: { apartments: unique_apartments } %>
  <% else %>
    <p>No properties present</p>
  <% end %>
</div>
