<div class="container-fluid g-0 mb-md-5">
  <div class="row my-md-5">
    <div class="col-sm-3 order-sm-1 mt-md-5"></div>
    <div class="col-sm-5 order-sm-2 mt-md-5">
      <p class="text-center ml-md-5 display-4">ADD A NEW PHOTO</p>
    </div>
  </div>
</div>