/*// Custom bootstrap variables must be set or imported *before* bootstrap.*/

@import "desktop_device";
@import "mobile_device";
@import "tablet_device";


nav a {
    color: antiquewhite !important;
}

.dropdown-menu {
    background-color: var(--bs-primary) !important;
    border: calc(var(--bs-primary) - 50px) solid var(--bs-primary) !important;
}

.dropdown-item {
  background-color: var(--bs-primary) !important;
}

.dropdown-menu.li.a:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color)
}

nav.navbar.bg-primary, .btn-primary, .dropdown-item,
.dropdown-menu {
  --bs-bg-opacity: 1;
  background-color: #b31317 !important;
  border-color: #b31317 !important;
}

.bg-primary {
    background-color: #b31317 !important;
}

