/*// Custom bootstrap variables must be set or imported *before* bootstrap.*/

@import "desktop_device";
@import "mobile_device";
@import "tablet_device";

body {
  background: url('bg-home.webp') no-repeat center;
  min-height: 100vh;
}

/* Progress Circle CSS */
#progress-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner-border {
  width: 25vw;
  height: 25vw;
  border-width: 0.75vw;
  border-top-color: transparent;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav a {
  color: white !important;
  text-decoration: none;
}

.antiquewhite-dark {
  background: #d6c2a9;
  color: antiquewhite;
}

.dropdown-menu {
  background-color: var(--bs-primary) !important;
  border: calc(var(--bs-primary) - 50px) solid var(--bs-primary) !important;
  position: absolute;
  top: 2.5rem;
  left: -3.75rem;
}

.dropdown-item {
  background-color: var(--bs-primary) !important;
}

.dropdown-menu.li.a:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color)
}

.homepage {
  background: image_url('bg-home.webp') no-repeat center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  transform: translate(50%, 50%);
  }

nav.navbar.bg-primary, .btn-primary, .dropdown-item,
.dropdown-menu, .btn-info, .bg-primary {
  --bs-bg-opacity: 1;
  background-color: #b31317 !important;
  border-color: #b31317 !important;
}

.carousel-item {
  background-size: cover;
  background-position: center;
  height: 480px; /* Adjust the height to suit your carousel */
}
