<!-- app/views/apartments/_display_address_only.html.erb -->
<% if apartment.slug_address.length < 19 %>
  <% if current_user.blank? %>
    <h4 class="card-title ml-3 mt-3 tt disable-select blur" title="Become a member to see the full address." data-toggle="tooltip" data-placement="top">
      <%= apartment.slug_address %>
    </h4>
  <% else %>
    <h4 class="card-title ml-3 mt-3">
      <%= link_to apartment.slug_address, apartment_path(apartment, title: search_title), class: "alert-link nounderline" %>
    </h4>
  <% end %>
<% else %>
  <% if current_user.blank? %>
    <h5 class="card-title ml-3 mt-3 tt disable-select blur" title="Become a member to see the full address." data-toggle="tooltip" data-placement="top">
      <%= apartment.slug_address %>
    </h5>
  <% else %>
    <h5 class="card-title ml-3 mt-3">
      <%= link_to apartment.slug_address, apartment_path(apartment, title: search_title), class: "alert-link nounderline" %>
    </h5>
  <% end %>
<% end %>