<% if @floorplans.present? %>
  <h5 class="mt-md-1"><%= image_tag(get_aws_url("white_icons/icons8-floor-plan-50.png"), class: "iconz mr-md-1 mb-md-3") %>Floorplans</h5>
  <div class="mt-md-1">
    <% @floorplans&.each do|floorplan| %>
      <%= link_to image_tag(floorplan_apartment_page_url(floorplan), alt: "", class: "floorplan img-thumbnail"), rails_blob_path(floorplan, disposition: "attachment") %>
      <%# end %>
    <% end %>
  </div>
<% end %>