<div class="mt-md-2">
  <%= apartment.internal_space.present? && apartment.internal_space > 0 ? 
    "<h5>Internal Space</h5><span class='my-3 show-property tt' title='Internal Space' data-toggle-tooltip, data-placement-top> #{apartment.internal_space}\u{33A1}</span>".html_safe : nil %>
  <%= apartment.land_size.present? && apartment.land_size > 0 ?
    
    "<h5>Land Size</h5><span class='my-3 show-property tt' title='Land Size' data-toggle-tooltip, data-placement-top> #{apartment.land_size}\u{33A1}</span>".html_safe : nil %>
</div>