<div class="row">
  <div class="mx-auto col-sm-8 order-sm-2 my-md-5">
    <% if @apartments.present? %>
    <%= render "show_apartment", apartments: @apartments %>
    <% else %>
    <h5 class="text-center">No properties match your search.</h5>
    <br>
    <% end %>
  </div>
</div>
