<div class="homepage d-flex justify-content-center align-items-center ">
  <div class="text-center text-white p-3 rounded" style="width: 50%; height: auto; background-color: rgba(0, 0, 0, 0.5);" >
    <p class="mb-0">
      Discover your dream home or perfect investment property in Sydney's vibrant market with our expert
      guidance and tailored solutions for first-time buyers and savvy investors alike.
    </p>
  </div>
</div>
