<span class="irs--round display-item-range">
  <div id=<%= min_id %>><span><%= image_tag get_aws_url("new_system_icons/blue-#{image_name}"), class: "range-image" %> Min.</span></div>
  <div id=<%= max_id %>><span>Max.</span><%= image_tag get_aws_url("new_system_icons/#{image_name}"), class: "range-image" %></div>
</span>
